body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  margin: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.img-profile {
  max-width: 100px;
  height: auto;
  border-radius: 100%;
  margin-top: 1.5rem;
}

button {
  border: 2px;
  border-radius: 5px;
}

.profile {
  text-align: center;
}

.form {
  justify-content: center;
}
/* ADD TASK FORM */

.MuiInputLabel-formControl {
  top: 3px;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}
/* NOTIFICATIONS */

.card-notifications {
  margin-bottom: 1.5rem;
}
/*  TASK LIST  */

.task-list {
  width: '100%';
  max-width: '45ch';
}

.inline {
  display: inline;
}

.space-between {
  justify-content: space-between;
}

.float-left {
  float: right !important;
}
.delete-edit-task-menu {
  /* margin-left: 70px; */
  padding: 0px;
}

.delete-edit-task-menu {
  /* margin-left: 70px; */
  padding: 0px;
}
/* EVENT DETAILS */

.labelInfo {
  padding: 3px 5px;
  font-size: 1rem;
}

.rsvp {
  padding: 20px 0;
  text-align: center;
}

.friendsEvent-details {
  margin-right: 58px;
}

/* EVENTTABS */

.eventTitle {
  margin-top: 1.8rem !important;
  margin-bottom: 0.8rem !important;
}
/* NOTIFICATIONS */
/* .btn-accept {
  background-color: '#32CD32' !important;
} */
/*  LANDING PAGE  */

.btn-theme {
  margin: auto !important;
  display: block !important;
}

section {
  padding: 48px 0;
  background-color: aquamarine;
  margin: auto;
  height: 300px;
  text-align: center;
}

#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  height: 90vh;
}

.container-center {
  margin-top: 5px;
}

.big {
  font-size: 60px;
}

.discover-place-holder {
  background-color: cadetblue;
}

.logo-place-holder {
  /* text-align: left;
  border: 1px solide black;
  height: 70px;
  width: 70px;
  background-color: rgb(52, 216, 20);
  margin-left: 20px; */
  background-image: url(eventShareLogo.png);
}

.loginpage-form {
  text-align: center;
  border: 15px double black;
  height: 500px;
  width: 320px;
  background-color: lightpink;
  margin-left: 450px;
  margin-right: 250px;
}

.logo-place-holder-login-form {
  border: 1px solide black;
  height: 70px;
  width: 70px;
  background-color: rgb(52, 216, 20);
  margin-left: 130px;
}
/* Voting */

.green {
  background-color: #32cd32 !important;
  color: white !important;
  border: 1px solid !important;
}

.heading {
  text-align: center;
  color: #222;
  margin: 30px;
}

.options {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.option {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ff8e53;
  border: 2px solid #222;
  margin: 2px;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionName button {
  color: green;
  background-color: #0000;
  border: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}
/* LANDIGN PAGE */

.title {
  margin-top: 1.2rem !important;
  color: white;
  margin-bottom: 2rem !important;
}

.ctaBtn {
  margin-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .ctaBtn {
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
  }
  .title {
    margin-top: 5rem !important;
    margin-bottom: 1rem;
    font-size: 2rem !important;
    font-weight: 800;
  }
  /* USER PROFILE */
  .userTitles {
    width: '100%';
    max-width: '36ch';
  }
}

.poll-form-yourOption {
  margin-left: 50px;
}
/*FOR EDIT/CREATE EVENT */

.twoInputFields {
  max-width: '36ch';
  justify-content: 'center';
}
/*FOR PHOTO FEED */
/*FOR EVENT NAV BAR */

.eventNavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0 !important;
  background-color: #74d2ca !important;
}

.MuiCardHeader-root {
  max-height: '20ch';
}
/* FOR FOOTER */

.footer,
.push {
  height: 50px;
}
/* .wrapper {
  /* min-height: 100%; */
/* margin-bottom: -50px; */
/* } */
/* SIDE NAV BAR LINKS */

.paddinggg {
  padding-bottom: 5%;
}

.img {
  object-fit: cover;
  width: 50px;
  height: 100px;
}
/* 'feed-back-form-submit-button'*/

.feed-back-form-submit-button {
  margin-left: 50px;
  text-align: center;
}
/* feedback-form*/
.feedback-paragraph {
  font-size: 20px;
  font-style: italic;
}
.feedback-title {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

/*BUTTONS */

.btn-create {
  background-color: #9370db !important;
  color: white !important;
}

.btn-submit {
  background-color: #9370db !important;
  color: white !important;
}

.btn-accept {
  background-color: #76b654 !important;
  color: white !important;
}

.btn-taken {
  background-color: #ff5757 !important;
  color: white !important;
}

.icons {
  color: #696969 !important;
}

/* TESTIMONIAL */

.container {
  border: 1px solid #74d2ca;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  padding: 25px;
}

.container img {
  float: center;
  margin-top: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  color: #ff5757;
  margin-top: 15px;
}

.quote {
  font-size: 7em;
  color: #9370db;
  text-shadow: black;
}

.parent-div {
  text-align: center;
}

.text-div {
  font-style: oblique;
  color: #32323b;
}
/* WHY EVENT SHARE */
/* Now uses most of about us CSS */

.div-why {
  /* border: 1px solid gray; */
  text-align: center;
  /* padding: 8px; */
  margin: auto;
  margin-top: 40px;
  width: 60%;
  padding: 20px;
  padding-bottom: 90px;
}

.h1-why {
  text-align: center;
  text-transform: uppercase;
  color: #74d2ca;
}

.connect-why {
  text-decoration: none;
  color: #9370db;
}

.typed-why {
  font-family: 'Amatic SC', sans-serif;
}

/* ABOUT US PAGE */

.about-header {
  text-align: center;
}

.h1-header {
  color: #34262b;
  font-family: 'Amatic SC', sans-serif;
  font-size: 100px;
}

.h4-header {
  font-family: 'Coming Soon', sans-serif;
  font-size: 20px;
  padding: 0;
  font-weight: bold;
  color: #74d2ca;
}

.team {
  color: #9370db;
}

.h4-about {
  color: #ff5757;
}

/* CALENDAR BUTTON */
.calendar-btn {
  text-align: center;
  display: inline;
  padding: 0px 0 !important;
  font-size: 13px !important;
  text-transform: none !important;
}

/*EVENT NAVBAR LETTERS */

.root {
  padding: 0px 0 !important;
}

/*COMMENT PAGE */
.commentsSection {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}

.comments {
  flex-grow: 4;
}

/* GUEST PAGE*/

.guest-list {
  justify-content: center;
  align-items: center;
  padding: 1px 0;
}
.float-rigth {
  float: left !important;
}

.float.middle {
  padding: 10px 0;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #74d2ca;
  font-size: small;
  color: white;
}

.alignleft {
  float: left;
  font-size: small;
  padding: 7px;
}
.alignright {
  float: right;
  font-size: small;
  padding: 15px;
}

/* USER PROFILE UPDATE */

.user-links {
  color: #9370db;
}
