body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  margin: 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100px;
  height: auto;
  border-radius: 100%;
}

button {
  border: 2px;
  border-radius: 5px;
}

.profile {
  text-align: center;
}

.form {
  justify-content: center;
}

/* ADD TASK FORM */

.MuiInputLabel-formControl {
  top: 3px;
  left: 14px !important;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}

/*  TASK LIST  */

.task-list {
  width: '100%';
  max-width: '36ch';
}

.inline {
  display: inline;
}

/* EVENTTABS */

.eventTitle {
  margin-top: 1.8rem !important;
  margin-bottom: 0.8rem !important;
}

/*  LANDING PAGE  */

.btn-theme {
  margin: auto !important;
  display: block !important;
}

section {
  padding: 48px 0;
  background-color: aquamarine;
  margin: auto;
  height: 300px;
  text-align: center;
}

#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  height: 90vh;
}

.container-center {
  margin-top: 5px;
}

.big {
  font-size: 60px;
}

.discover-place-holder {
  background-color: cadetblue;
}

.logo-place-holder {
  text-align: left;
  border: 1px solide black;
  height: 70px;
  width: 70px;
  background-color: rgb(52, 216, 20);
  margin-left: 20px;
}

.loginpage-form {
  text-align: center;
  border: 15px double black;
  height: 500px;
  width: 320px;
  background-color: lightpink;
  margin-left: 450px;
  margin-right: 250px;
}

.logo-place-holder-login-form {
  border: 1px solide black;
  height: 70px;
  width: 70px;
  background-color: rgb(52, 216, 20);
  margin-left: 130px;
}
